.z {
    color: rgb(66, 226, 17);
    font-style: italic;
    text-align: center;
}
p::first-line {
    font: 1em sans-serif;
word-spacing: 0.4em;
font-weight: 900;
}
.e {
    font-size: 20px;
    color: rgb(51, 13, 156);
}
body {
    background-color: rgb(91, 105, 11);
}